<div class="no-padding container-fluid offerciti-header">
    <div id="fh5co-page">
        <div id="fh5co-wrap">
            <header>
                <section class="top-sec-nav">
                    <h1 id="logo-wrap">
                        <p>
                            <a href="index">
                                <img src="app/assets/images/offerciti-logo.png">
                            </a>
                            <a href="register" class="postafreead">
                                <span class="a-btn-text">Post A Free Ad</span>
                            </a>
                        </p>
                    </h1>
                </section>
            </header>
        </div>
    </div>
</div>