<div class="no-padding container-fluid offerciti-header">
    <div id="fh5co-page">
        <div id="fh5co-wrap">
            <header>
                <section class="top-sec-nav">
                    <h1 id="logo-wrap">
                        <p>
                            <a href="index">
                                <img src="app/assets/images/offerciti-logo.png">
                            </a>
                            <a href="register" class="button-type-1">
                                <span class="a-btn-text">Post A Free Ad</span>
                            </a>
                            <a href="/advertiser-login" class="button-type-1">
                                <span class="a-btn-text">Advertiser Login</span>
                            </a>
                            <a href="/advertiser-signup" class="button-type-1">
                                <span class="a-btn-text">Advertiser Signup</span>
                            </a>
                        </p>
                    </h1>
                </section>

                <div class="city-sel-wrap">
                    <div class="form-group">
                        <simple-selectbox></simple-selectbox>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>
<router-outlet></router-outlet>