// header styles starts here
@import "src/app/shared/styles/style";

.offerciti-header {
    header {
        width: 100%;
        background-image: url("app/assets/images/header-bg.jpg");
        background-position: 0px 1130px;
        clear: both;
        float: left;
        height: 120px;

        h1 {
            &#logo-wrap {
                display: block;
                width: 100%;
                overflow: hidden;
                text-align: center;
                p {
                    overflow: hidden;
                    width: 98%;
                    margin: auto;
                    padding-bottom: 0;
                }
                a {
                    display: inline-block;
                    margin: auto;
                    overflow: hidden;
                    text-align: left;
                    float: left;
                    color: black;
                    img {
                        float: left;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    .city-sel-wrap {
        width: 100%;
        padding: 20px;
        border-left: 0;
        border-right: 0;
        margin: auto;
        text-align: center;
        vertical-align: middle;
        label {
            text-align: left;
            line-height: 29px;
            font-size: 14px;
        }
        .form-group {
            margin: 0px;
            max-width: 836px;
            margin: auto;
        }
        .btn {
            float: right;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 12px;
            letter-spacing: inherit;
            text-transform: inherit;
        }
        .global-srch-btn:hover {
            background-color: black;
            color: $head-bg-color;
        }
        .col-md-4 {
            padding: 0px;
        }
        .col-md-1 {
            float: right;
            padding: 0px;
        }
    }
}