<div class="simple-select-box">
    <div class="col-md-3 city-cont">
        <select id="" class="selectpicker" data-live-search="true" title="Please select City">
            <option>Hyderabad</option>  
            <option>Vijayawada</option>
            <option>Nellore</option>
            <option>Warangal</option>
            <option>Vizag</option>
            <option>Guntur</option>
            <option>Hyderabad</option>
            <option>Vijayawada</option>
            <option>Nellore</option>
            <option>Warangal</option>
            <option>Vizag</option>
            <option>Guntur</option>
            <option>Hyderabad</option>
            <option>Vijayawada</option>
            <option>Nellore</option>
            <option>Warangal</option>
            <option>Vizag</option>
            <option>Guntur</option>
        </select>
    </div>
</div>

