/////////////////////////////////////////////////////////////////////// 
//// All the variables defined across the border are defined here ////
///////////////////////////////////////////////////////////////////////
$font-size-base: 11px;

$bootstrap-sass-asset-helper: true;
$icon-font-path: "../../../app/assets/fonts/";

$black: #000000;
$white: #ffffff;

$border-color: #DDDDDD;
$line-seperator: #888;

$btn-bg-color: #FFC400;
$btn-border-color: #2B2C2E;
$btn-shadow: #5d81ab;
$btn-activebg: #5d81ab;
$btn-active-bordercolor: #80a9da;

$head-bg-color: #FFC400;

$panel-default-text:          #FFF !default;
$panel-default-border:        $border-color !default;
$panel-default-heading-bg:    rgba(58, 58, 58, 0.93) !default;

$panel-info-text:             #2B2C2E !default;
$panel-info-border:           $border-color !default;
$panel-info-heading-bg:       $head-bg-color !default;

