/////////////////////////////////////////////////////////////////////// 
//// All the variables defined across the border are defined here ////
///////////////////////////////////////////////////////////////////////

$black: #000000;
$white: #ffffff;

$btn-border-color: #2B2C2E;
$btn-shadow: #5d81ab;
$btn-activebg: #5d81ab;
$btn-active-bordercolor: #80a9da;

$feed-bg-color: #FFCB00;

$border-color: #DDDDDD;