/* header styles starts here */

.row {
    margin: 0;
}
header {
	width: 100%;
	background-image: url("../assets/images/header-bg.jpg");
	background-position: 0px 1130px;
	clear: both;
	float: left;
	}
